body {
  background-color: beige;
  height: 100vh;
}

form {
  width: 60%;
  background-color: white;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 4px 10px;
  outline: none
}

button {
  background-color: rgb(29, 6, 51);
  color: white
}
